:root{
    --body-height:100%;
}
*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: #fee2e2;
    width: 100vw;
    padding:0;
    margin:0;
}
body{
    resize: both;
    overflow: auto;
    margin:0;
    padding:0;
    width: 100vw;
    height: var(--body-height);
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows:1fr 15fr 1fr;
    position: relative;
}
.header{
    grid-column: 2/-1;
    background-color: #64748b;
    color:white;
    padding-left:30%;
}
.sidebar{
    grid-row:1/3;
    background: linear-gradient(30deg,#ccfbf1,#f0fdfa,#dcfce7);
}
.sidebar ul{
    padding:20px;
    display:grid;
    gap:20px;
}
.sidebar ul li{
    list-style-type: none;
}
.main-area{
    padding:5%;
    grid-column: 2/-1;
    background: linear-gradient(30deg,#f6f7f8,#eff3f8,#f3f4f6,#f3f1f0);
    letter-spacing: 1px;
}
.main-area h2{
    padding-left:37%;
}
.books{
    border:0.4px solid grey;
    width: 100%;
    height: calc(70% * var(--body-height));
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:5px;
    padding:10px;
}
.book{
    height: 200px;
    background-color: #eef2ff;
    display: flex;
    flex-direction: column;

}
.add-book{
    padding-left:35%;
}
.add-book form{

    display: flex;
    flex-direction: column;
    width:250px;
}
label{
    margin:2px;
}
.add-book input{
    height: 2rem;
}
.add-book button{
    height:2rem;
    margin:10px;
}
.submit{
    width:5rem;
}
footer{
    font-size: 1.5rem;
    width: 100vw;
    grid-row:3/-1;
    grid-column: 1/-1;
    padding-left:27%;
    color:white;
    padding-top:30px;
    background-color: #78716c;
}
